:root {
    --md-primary-fg-color:        #C6D300;
    --md-accent-fg-color:			#8A9100;
  }
  
  .container {
      position: relative; 
      padding-bottom: 56.25%; 
      padding-top: 30px; 
      height: 0; 
      overflow: hidden;
  }
  .video {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
  }
  
  .abstract .admonition-title{
      background-color:#C6D300 !important;
      color:white;
  }
  .admonition.abstract{
      border-left: .2rem solid #939C00 !important;
  }
  
  .abstract > .admonition-title::before{
      background-color:white !important;
  }
  
  .md-typeset [type="checkbox"]:checked + .task-list-indicator::before {
      background-color:#C6D300 !important;
  }
  
  img + br + em{
      font-size:smaller;
      color: #939C00;
      
  }
  pxxx{line-height: 15px;}
  img{
      border:1px solid #939C00;
  }
  code{
      border:1px solid #939C00;
  }
  h2[id^='auftrag']{
      border:1px solid #cccccc;
      background-color:#C6D300;
      padding:10px;
      color:white;
      border-radius:5px;
  }
  div.auftrag{
      border:1px solid #cccccc;
      background-color:#E6F2B0;
      padding:10px;
      color:#555555;
      border-radius:5px;
  }
  label.md-nav__link{
      font-weight: bold;
  }
  
  label.md-nav__title{
      /*color: white !important;*/
  }
  
  .md-header__button.md-logo img{
      width: 100%;
      height:100%;
      border:none;
  }
  
  .md-typeset__table th{
      background-color: #C6D300 !important;
  }
  
  .bg-yellow{
      background-color: rgba(255,255,0,0.5);	
  }
  .bg-green{
      background-color: rgba(0,255,0,0.5);	
  }
  .bg-red{
      background-color: rgba(255,0,0,0.5);	
  }
  